div{
    background-color:rosybrown;
    color: lawngreen;
    border: 3px black solid;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;    
    margin-bottom: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 22px;
    padding-right: 22px;

    /*
    this css is  a div style attributes on the below line
     text behinds on background color 
     text color is a lawngreen
     then the border on 3px solid black using this cover on table of content shape
     
     margin:this is a div outer look space creating uses comonly use 
     margin take a left right and bottom top if you want you specificaly used marigin top ,bottom , 
     left ,right separately using
     
     padding:this is a div inner look space creating uses comonly use 
     padding take a left right and bottom top if you want you specificaly used padding top ,bottom , 
     left ,right separately using 
     
     These all are create a very unique look our websites*/
}


/*
Disclaimer!!:I am also learn the css so any one have the dout just feel free to ask me i try my 
level best for yours!!!

AnyWay Happy Learning And Don'f Forget Education Make Brilliant EveryBody, so be learn something 
your own interst!!!

See You Soon!!!  AND  Keep up the great work and happy coding! 🌟📚
*/